django==1.11
#django-bootstrap
#django-bootstrap-form
#django-bootstrap-toolkit
django-crontab
#djangorestframework
#django-template-utils 
django-redis-sessions
celery
celery-with-redis
filetype
filetypes
hiredis
pymongo
Pillow
rarfile
redis
#requests
requests-toolbelt