{% extends "base.html" %} 

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight col-sm-6">
    <h1 id="grp-admin-title">修改【{{username}}】用户的登陆密码</h1>
   
    {% if error_message %}
    <div class="alert alert-danger text-center">{{ error_message }}</div>
    {% endif %}
                
    <form class="m-t" role="form" method="post" action="">
    {% csrf_token %}           
        <div class="form-group">
            输入新登陆密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password" class="" placeholder="登陆密码长度为8-16位">
        </div>        
        <div class="form-group">
            确认新登陆密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password-confirm" class="" placeholder="确认登陆密码">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">确认</button>
    </form>

    </br>
    <a href="/user/list"><button type="button" class="btn btn-sm btn-primary" >返回</button></a>
    
</div>
{% endblock%}
