<!DOCTYPE html>
<html>
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="renderer" content="webkit">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>lykchat信息发送系统</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	
	<body>
        <div id="wrapper" >
            {% include 'nav.html' %}
           <div id="page-wrapper" class="gray-bg ">
                {% block content %}{% endblock %}
                {% include 'footer.html' %}
            </div>
        </div>
    </body>
</html>