{% extends "base.html" %} 

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    当前服务器时间：{{nowtime}} 
    </br>
    <a href=""><button type="button" class="btn btn-sm btn-primary" >  刷新页面  </button></a>   
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout"><button type="button" class="btn btn-sm btn-primary" >  切换登陆用户  </button></a>   
    </br>
    <h1 id="grp-admin-title">状态：{{descript}}   {% if status != 222 and status != 200 and status != 201 %}{{suggest}}{% endif %}    </h1> 
    </br>
    
    {% if status == 222 %}
    <a href="/wx_logout"><button type="button" class="btn btn-sm btn-primary" >  退出登录  </button></a>   
    {% endif %}
    </br>
    
    {% if status != 200 and status != 222 %}
    <img alt="image"  src="{{qr_url}}" />
    {% endif %}
    
    {% if status == 222 %}
    
    {% if send_result != '' %}
    </br>
        {% autoescape off %}
            {{send_result}}
        {% endautoescape %}
    {% endif %}

        <h1 id="grp-admin-title"> -----------------------------------------发送信息-------------------------------------------------</h1>
        <form id="send"  name="send"  enctype="multipart/form-data" action=""  method="post"  class="form-horizontal">
	    {% csrf_token %}
	    发送给：
	    <div class="form-group">
	        <select id="id_username" name="username" required="">
	        {% for key,value in friend_dict.items %}
	            <option value="{{key}}">{{value}}</option>
	        {% endfor %}
	        </select>
	        </br>
	        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意：已经排除了微信公众号，没有设置性别的好友，标注为疑似好友
	    </div>
	    发送内容：
	    <div class="form-group">
	        <input type="text" name="content" class="form-control" placeholder="发送信息内容，2-100个字符" required="length[2~100]">
	    </div>
	    </br>
        <button type="submit" class="btn btn-sm btn-primary">发送信息</button>
	</form>

    </br>
    <a href=""><button type="button" class="btn btn-sm btn-primary" >重填</button></a>
    {% endif %}
</div>

{% endblock%}